.footer {
  background-color: var(--bg-primary);
  border-top: 1px solid var(--border-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.text {
  color: var(--text-secondary);
}

.socials {
  display: flex;
  gap: 1rem;
}

.link {
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.2);
}

.linkImage {
  width: 40px;
  height: 40px;
}

@media (max-width: 1280px) {
  .container {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 1.35rem;
  }

  .linkImage {
    width: 32px;
    height: 32px;
  }
}
